/************************************************************************************
smaller than 1800
*************************************************************************************/
@media screen and (max-width: 1800px) {
	.content {
		width: 78.5%;
	}


}

/************************************************************************************
smaller than 1400px
*************************************************************************************/
@media screen and (max-width: 1400px) {
	.content {
		width: 78.5%;
	}


}

/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {
	.content {
		width: 71.5%;
	}


}

/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	.content {
		width: 63.5%;
	}


}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	.content {
		width: 53.5%;
	}


}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
}

