/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #373737;
	font: 15px 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 1.625;
}
body {
	background: #ffffff;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}
h1{
	font-size: 20px;
}

/* Text elements */
p {
	margin-bottom: 1.625em;
}
ul, ol {
	margin: 0
}
ul {
	list-style: none;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px 'Source Sans Pro', sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.clear{
	clear: both;
}

/* HEADER */
.header{
	background: url(../images/header-bg.png) repeat-x;
	height: 85px;
	width: 100%;
}
.header > img{
	margin-top: 2px;
}
.top-right-panel{
	color: #FFFFFF;
    float: right;
    padding: 25px 25px 0 0;
    text-align: right;
    width: 240px;
}
.top-right-panel p{
	padding: 0;
	margin: 0;
}
.top-right-panel p a{
	color: #EEEEEE;
	text-decoration: none;
}
.top-right-panel p a.logout{
	background: url("../images/signout-btn.png") repeat scroll 0 0 transparent;
    color: transparent;
    float: right;
    height: 21px;
    margin: 4px;
    width: 73px;
}
/* MENU */

.wrapper{
	background: url(../images/menu-bg-small.png) repeat-y;
}
.menu{
	background: url(../images/menu-bg-small.png) repeat-y;
	height: auto;
    margin-top: -1px;
    min-height: 540px;
    width: 230px;	
	float: left;
	
}
/*
#nav{	
	width: 100%;
	border: none;
	background: none;
	padding: 0;
}
#nav > li{	
	width: 96%;
	border: none;
	background: url(../images/menu-bg.png) no-repeat;
}
	
#nav > li  > a{
	background: url(../images/menu-icon.png) no-repeat;
	color: #727272;
    font-size: 15px;
    height: 48px;
    line-height: 45px;
    margin-top: 1px;
    padding-left: 60px;
}
#nav > li.nav-active a{
	background-color: #D2EAF4;
	border: none;
	color: #000000;
}
#nav > li > a.home,#nav > li > a.home.ui-state-hover,#nav > li > a.home.ui-state-focus,#nav > li > a.home.ui-state-active{background-position: 0 0;}
#nav > li > a.entry,#nav > li > a.entry.ui-state-hover,#nav > li > a.entry.ui-state-focus,#nav > li > a.entry.ui-state-active{background-position: 0 -51px;}	
#nav > li > a.screening,#nav > li > a.screening.ui-state-hover,#nav > li > a.screening.ui-state-focus,#nav > li > a.screening.ui-state-active{background-position: 0 -96px;}	
#nav > li > a.document,#nav > li > a.document.ui-state-hover,#nav > li > a.document.ui-state-focus,#nav > li > a.document.ui-state-active{background-position: 0 -143px;}	
#nav > li > a.purchase,#nav > li > a.purchase.ui-state-hover,#nav > li > a.purchase.ui-state-focus,#nav > li > a.purchase.ui-state-active{background-position: 0 -143px;}	
#nav > li > a.inventory,#nav > li > a.inventory.ui-state-hover,#nav > li > a.inventory.ui-state-focus,#nav > li > a.inventory.ui-state-active{background-position: 0 -143px;}	
#nav > li > a.report,#nav > li > a.report.ui-state-hover,#nav > li > a.report.ui-state-focus,#nav > li > a.report.ui-state-active{background-position: 0 -192px;}	
#nav > li > a.account,#nav > li > a.account.ui-state-hover,#nav > li > a.account.ui-state-focus,#nav > li > a.account.ui-state-active{background-position: 0 -239px;}	

#nav > li > a.ui-state-hover,
#nav > li > a.ui-state-focus,
#nav > li > a.ui-state-active{
	background: #daecf4 url(../images/menu-icon.png) no-repeat;
	border: none;
	color: #000000;
}
#nav > li  > a span.ui-menu-icon{
	margin-top: 15px;
}

#nav ul.subnav{
	overflow: hidden !important;
	border-color: transparent;
	width: 200px;
	background: #DAECF4;
	padding: 1px;
	z-index: 1;
	-webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-top: 0px;
}

#nav ul.subnav > li{
	
}
#nav ul.subnav > li > a{
	font-size: 14px;
	padding: 5px 5px 5px 20px;
	color: #727272;
	border: 1px solid transparent;
	border-top: 1px solid #eaf0f2;
	border-bottom: 1px solid #c1e4f4;
}
#nav ul.subnav > li > a.ui-state-hover,
#nav ul.subnav > li > a.ui-state-focus,
#nav ul.subnav > li > a.ui-state-active{
	border: 1px solid transparent;
	border-top: 1px solid #eaf0f2;
	border-bottom: 1px solid #c1e4f4;
	color: #000000;
	background: url(../images/subnav-bg.png) repeat-x;
}


.nav-index li{
	border: 1px solid #EEEEEE;
    float: left;
    margin: 40px 15px 5px;
}
.nav-index li a{
    height: 100px;
    width: 100px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	display: table-cell;
	color: #777;
}

#nav-index  li a#Customer{
	background-image: url(../images/menu/Customer.png);
	background-repeat: no-repeat;
}
#nav-index  li a#Part{
	background-image: url(../images/menu/Part.png);
	background-repeat: no-repeat;
}
#nav-index  li a#Vendor{
	background-image: url(../images/menu/Vendor.png);
	background-repeat: no-repeat;
}
#nav-index  li a#DeliveryTerms{
	background-image: url(../images/menu/DeliveryTerms.png);
	background-repeat: no-repeat;
}
#nav-index  li a#Department{
	background-image: url(../images/menu/Department.png);
	background-repeat: no-repeat;
}
#nav-index  li a#PaymentTerms{
	background-image: url(../images/menu/PaymentTerms.png);
	background-repeat: no-repeat;
}
#nav-index  li a#ProductType{
	background-image: url(../images/menu/ProductType.png);
	background-repeat: no-repeat;
}

#nav-index  li a#Address{
	background-image: url(../images/menu/Address.png);
	background-repeat: no-repeat;
}

#nav-index  li a#UOM{
	background-image: url(../images/menu/UOM.png);
	background-repeat: no-repeat;
}

#nav-index  li a#PurchaseRequisition{
	background-image: url(../images/menu/PurchaseRequisition.png);
	background-repeat: no-repeat;
}
#nav-index  li a#PurchaseOrder{
	background-image: url(../images/menu/PurchaseOrder.png);
	background-repeat: no-repeat;
}
#nav-index  li a#SaleOrder{
	background-image: url(../images/menu/SaleOrder.png);
	background-repeat: no-repeat;
}
#nav-index  li a#POReceiving{
	background-image: url(../images/menu/POReceiving.png);
	background-repeat: no-repeat;
}
#nav-index  li a#InventoryCount{
	background-image: url(../images/menu/InventoryCount.png);
	background-repeat: no-repeat;
}

#nav-index  li a#Report{
	background-image: url(../images/menu/Report.png);
	background-repeat: no-repeat;
}*/
#nav > li{	
	width: 96%;
	border: none;
	background: url(../images/menu-bg.png) no-repeat;
}
ul#nav > li  > a{
	background: url(../images/menu-icon.png) no-repeat;
	color: #727272;
    font-size: 15px;
    height: 48px;
    line-height: 45px;
    margin-top: 1px;
    padding-left: 60px;
}
ul#nav > li > a.home,#nav > li > a.home.ui-state-hover,#nav > li > a.home.ui-state-focus,#nav > li > a.home.ui-state-active{background-position: 0 0;}
ul#nav > li > a.entry,#nav > li > a.entry.ui-state-hover,#nav > li > a.entry.ui-state-focus,#nav > li > a.entry.ui-state-active{background-position: 0 -51px;}	
ul#nav > li > a.screening,#nav > li > a.screening.ui-state-hover,#nav > li > a.screening.ui-state-focus,#nav > li > a.screening.ui-state-active{background-position: 0 -96px;}	
ul#nav > li > a.document,#nav > li > a.document.ui-state-hover,#nav > li > a.document.ui-state-focus,#nav > li > a.document.ui-state-active{background-position: 0 -143px;}	
ul#nav > li > a.purchase,#nav > li > a.purchase.ui-state-hover,#nav > li > a.purchase.ui-state-focus,#nav > li > a.purchase.ui-state-active{background-position: 0 -143px;}	
ul#nav > li > a.inventory,#nav > li > a.inventory.ui-state-hover,#nav > li > a.inventory.ui-state-focus,#nav > li > a.inventory.ui-state-active{background-position: 0 -143px;}	
ul#nav > li > a.report,#nav > li > a.report.ui-state-hover,#nav > li > a.report.ui-state-focus,#nav > li > a.report.ui-state-active{background-position: 0 -192px;}	
ul#nav > li > a.setting,#nav > li > a.report.ui-state-hover,#nav > li > a.report.ui-state-focus,#nav > li > a.report.ui-state-active{background-position: 0 -285px;}	
ul#nav > li > a.account,#nav > li > a.account.ui-state-hover,#nav > li > a.account.ui-state-focus,#nav > li > a.account.ui-state-active{background-position: 0 -239px;}	

#nav > li > a.ui-state-hover,
#nav > li > a.ui-state-focus,
#nav > li > a.ui-state-active{
	background: #daecf4 url(../images/menu-icon.png) no-repeat;
	border: none;
	color: #000000;
}ul#nav, ul#nav ul {list-style-type:none; margin: 0; padding: 0; }
ul#nav a { display: block; text-decoration: none;	}

ul#nav li { margin-top: 1px;}
ul#nav li a:hover { font-weight:bold;  }
ul#nav li ul li a { background: #fff; color: #000; padding-left: 15px; line-height: 35px; border-bottom:none}
ul#nav li ul li a:hover { background:  #DAECF4; border-left: 5px #4780ae solid; padding-left: 10px;}


/* ul#nav{margin:0px;padding:0px;list-style:none;margin-top:20px;}


ul#nav li a {color: #000;padding: 10px;padding-left:25px;border-bottom:1px solid #ddd}
 */
/* CONTENT */
.content{
	float: left;
    padding: 5px 20px 50px;
	width: 79%;
}
.lfpane{
	float: left; 
	margin-left: 5%; 
	/*padding: 15px;*/
	width: 40%;
}
.rfpane{
	float: left; 
	margin-left: 5%; 
	/*padding: 15px;*/
	width: 40%;
}
h2.title{
	font-size: 20px;
	margin-bottom: 10px;
	color: #000;
	float: left;
	text-shadow:1px 1px #eee;
}
.top-button{
	float: right;
	margin-top: 5px;
}
span.ui-icon{
	float: left;
    margin-right: 8px;
}
/* FORM */
.globalform {
	border: 1px solid #DAECF4;
    margin: 0;
    min-height: 100px;
    padding: 10px;
}
.globalform  *{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.globalform ol {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	clear:both;
	width:100%;
}
.globalform li {
	background:none;
	border: medium none;
    clear: both;
    display: block;
    float: left;
    margin: 0;
    padding: 5px 0;
}
.globalform li.buttons {
	margin:10px 0;
}
.globalform label {
	color: #666666;
    display: block;
    float: left;
    margin: 0;
    padding: 4px 0;
    width: 150px;
}

.globalform label span {
	/*color:#F00;*/
}

.globalform input[type='text'],
.globalform input[type='password']{
	max-width:480px;
	border:1px solid #C0C0C0;
	margin:2px 0;
	padding:5px;
	height:16px;
	background:#FFFFFF;
	float:left;
	width: 200px; 	
}
.globalform input.long {
	width: 370px;
	margin-top: -7px; 
}
.globalform select {
	background:#FFFFFF;
	border: 1px solid #EEEEEE;
    float: left;
    height: 28px;
    margin: 2px 0;
    max-width: 480px;
    padding: 4px 2px;
}
.globalform select option{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.globalform textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
	float:left;
}
.globalform fieldset{
	border: 1px solid #EEEEEE;
    float: left;
    margin-top: 11px;
    padding: 5px 15px 10px 15px;
}
.globalform fieldset legend{
	color: #86B8B3;
    font-size: 11px;
    font-weight: bold;
}
.globalform input[type='checkbox']{
	float: left;
    margin: 11px 2px 0 0;
}
h3.form-title{
	background: none repeat scroll 0 0 #C0DDF1;
    border: 1px solid #AED0EA;
    padding: 0 9px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: black;
}
.u-case{
	text-transform: uppercase;
}
.non-popup-message{
	 border: 1px solid #EEEEEE;
    border-collapse: collapse;
    box-shadow: 0 8px 6px -6px black;
    margin: 20% auto !important;
    max-width: 50%;
    min-width: 350px;
    position: relative;
    width: auto;
}

.create-btn{
	background: url(../images/create.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 10px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.detail-btn{
	background: url(../images/detail.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 10px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.save-btn{
background: url(../images/save.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5x;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.active-btn{
	background: url(../images/Active.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.deactive-btn{
	background: url(../images/deactive.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.edit-btn{
	background: url(../images/edit.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.details-open{
	background: url(../images/details_open.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.details-close{
	background: url(../images/details_close.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.delete-btn{
	background: url(../images/delete.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.print-btn{
	background: url(../images/print.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}
.status-offline{
	background: url(../images/status-offline.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    width: 16px;
	top: 3px;
}
.status-online{
	background: url(../images/status-online.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    width: 16px;
	top: 3px;
}

.approve-btn{
	background: url(../images/approve.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}

.reject-btn{
	background: url(../images/reject.png) no-repeat;
	float: left;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
}

.icon_Info-btn{
	background: url(../images/info_btn.png) no-repeat;
    height: 16px;
	margin-right: 5px;
    text-indent: -99999px;
    width: 16px;
	position: relative;
	top: 3px;
	text-decoration:none;
}

span.req{
	color: red;
	margin: 2px; 
}
#login-wrapper{
	background: white;
	margin-top: 0;
    padding-top: 50px;
}
#login-wrapper > div{
	margin: 10px auto;
	width: 500px;
	box-shadow: 0 8px 6px -6px black;
}
#login-wrapper > div > h2{
	font-size: 20px;
}
#iLogin_frm{
	padding: 20px 50px 0px;	
}
#iForgot_frm{
	padding: 20px 50px 0px;	
}
/* FOOTER */
.footer{
	background: #003f61;
	width: 100%;	
	height: auto;
	min-height: 30px;
}
.footer span{
	float: left;
    padding: 5px 50px;
	color: #FFFFFF;
}
.footer span a{
	color: #8ed7ff;
	text-decoration: none;
}
/* DIMMING */
.dimloading{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 14px;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    width: 112px;
    z-index: 9999;
	 -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
	  font-style: italic;
}
/* ERROR */
.error_500_custom{
	margin: 50%;
	border: 1px solid red;
}

/* MESSAGES ICON */
.info, .success, .warning, .error, .validation {
	background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 15px 10px 15px 50px;
}
.info {
	background-image: url('../images/icons/icon_Info.png');
}
.success {
	background-image:url('../images/icons/icon_Valid Green.png');
}
.warning {
	background-image: url('../images/icons/icon_Attention.png');
}
.error {
	background-image: url('../images/icons/icon_Cancel.png');
}
div.refresh-div{
	top: 0; 
	position: fixed; 
	right:0;
	z-index: 9999999;
}
div a.Refresh {
    background: url("../images/refresh-icon.png") repeat scroll 0 0 transparent;
    color: transparent;
    float: right;
    height: 64px;
    width: 64px;
    margin: 4px;
}
input.readonly {
	background-color: rgb(235, 235, 235) !important;
}

textarea.readonly {
	background-color: rgb(235, 235, 235) !important;
}

select.readonly {
	background-color: rgb(235, 235, 235) !important;
}

.dataTables_filter input[type="text"]{
	width: 80px !important;
	float: right !important;
}

.dataTables_filter label{
	width: 200px !important;
}

span.status{
	font-weight: bold; 
	font-size: 15px;
}

/* Dashboard */
table.dashboardtbl{
	float: left;
	border-collapse: collapse;
	border: 1px solid #eee;	
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
} 
table.dashboardtbl td, 
table.dashboardtbl th{
	padding: 3px 10px; 
	border-bottom: 1px solid #D9D4D4;
    border-top: 1px solid #FCFAFA;
}
table.dashboardtbl th{
	background: #eee;
}
table#dash-users{	
	clear: left;
	width: 45%;
}
table#dash-summary{ 
	margin-left: 40px;
	width: 40%; 
}

table.dashboardtbl tr td.total{
	color: blue;
	width: 50px;
	text-align: right;
}

table.dashboardtbl .pending{
	color: #CECECE;
	width: 60px;
	text-align: right;
}	
table.dashboardtbl .completed{
	color: green;
	width: 60px;
	text-align: right;
}	
table.dashboardtbl .deleted{
	color: red;
	width: 60px;
	text-align: right;
}	
table.dashboardtbl em{
	/*color: green;*/
	font-weight: normal;
	font-size: 11px;
}
.dashboards h3{
	color: #347FD3;
	font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

span.red{ 
	background-color: #FF0000;
}

span.orange{
	background-color: #FF5C00;
}

span.grey{ 
	 background-color: #999999;
}

span.green{ 
	background-color: #00CC33;
}

span.status{ 
	-moz-border-bottom-colors: none;    
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    -moz-user-select: none;
    background-position: 0 0;
    background-repeat: repeat-x;
    border-color: -moz-use-text-color -moz-use-text-color transparent;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #FFFFFF;
    display: inline-block;
    font-family: inherit;
    font-size: 0.8em;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: normal;
    font-variant: inherit;
    font-weight: bold;
    line-height: 1;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), -2px 0 1px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    vertical-align: middle; 
	border-radius: 4px 4px 4px 4px;
	 background-image: url(../images/submit-overlay-sprite.png);
	 width:80%;
}

/*Start Tooltip*/
 .ui-tooltip, .arrow:after {
	background: black;
	border: 2px solid white;
}
.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	/*font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;*/
	box-shadow: 0 0 7px black;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}
/*ENd Tooltip*/

.table-row-details{
	padding: 5px 20px 20px 20px !important;
background-image: linear-gradient(bottom, rgb(164,211,235) 13%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(164,211,235) 13%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(164,211,235) 13%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(164,211,235) 13%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(164,211,235) 13%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.13, rgb(164,211,235)),
	color-stop(1, rgb(255,255,255))
);
}
.tropen-bg {
    background-image: url("../images/tropen.png") !important;
    background-position: 5px bottom !important;
    background-repeat: no-repeat !important;
}
.tropen {
	background-color: #6FC3F8 !important;
    border-bottom: 1px solid #FFFFFF;
    font-weight: bold;
}
hr.sep{
	background-color: #CCCCCC;
    border: 0 none;
    height: 1px;
    margin: 3px 0;
    padding: 0;
}

table#subDataTable tbody tr{
    border-bottom: 1px solid #CCCCCC;
}

table#subDataTable thead tr {
    font-weight: bold;
}

.alignRight { text-align: right; }	